<template>
        <lightning-layout-item padding="around-small">
                <div class="custom-box slds-box slds-p-around_medium slds-text-align_center">
                        <lightning-button label="Go To Home" title="Home action" class="slds-m-left_x-small" onclick={navigateToHome}></lightning-button>
                        <lightning-button label="Go To Opportunity" title="Opportunity action" class="slds-m-left_x-small" onclick={navigateOpportunityRecordPage} ></lightning-button>
                        <lightning-button label="View Opportunity Changes" title="Difference action"  class="slds-m-left_x-small"  onclick={navigateToWebPage}></lightning-button>
                </div>
                <div class="slds-section slds-is-open">
                        <h3 class="slds-section__title slds-theme_info">
                          <span class="slds-truncate slds-p-horizontal_small" title="Section Title"><strong>Opportunity</strong></span>
                        </h3>
                        <div aria-hidden="false" class="slds-section__content">
                      <lightning-record-view-form record-id={recordId} object-api-name="Opportunity">
                                  <div class="slds-box">
                                        <div class="slds-grid slds-gutters">
                                                <div class="slds-col">
                                                        <span>
                                                                        <lightning-output-field field-name="Name"></lightning-output-field>        
                                                                        <lightning-output-field field-name="Amount"></lightning-output-field>
                                                                        <lightning-output-field field-name="OwnerId"></lightning-output-field>
                                                                        <lightning-output-field field-name="Credit_Check_result__c"></lightning-output-field>
                                                                        <lightning-output-field field-name="CurrencyIsoCode"></lightning-output-field>
                                                        </span>
                                                </div>
                                                <div class="slds-col">
                                                                <span>
                                                                        <lightning-output-field field-name="Contract_Number__c"></lightning-output-field>
                                                                        <lightning-output-field field-name="CloseDate"></lightning-output-field>
                                                                        <lightning-output-field field-name="AccountId"></lightning-output-field>
                                                                        <lightning-output-field field-name="Sales_Org_Code__c"></lightning-output-field>
                                                                        <lightning-output-field field-name="Contract_Type__c"></lightning-output-field>
                                                                </span>
                                                </div>    
                                        </div>                                        
                                        
                                  </div>
                        </lightning-record-view-form> 
                        </div>
                </div>
                <lightning-accordion allow-multiple-sections-open >
                        <lightning-accordion-section name="Products" label="Products">
                                <div>
                                        <lightning-datatable
                                                key-field="Id"
                                                data={products}
                                                columns={columns}>
                                        </lightning-datatable>
                                </div>
                        </lightning-accordion-section>
                </lightning-accordion>
            </lightning-layout-item>
            <lightning-layout padding="around-small">
                                <!-- <p> Product Description = {products.Product_Description__c}</p>-->
            </lightning-layout>

        

</template>